/*Blog Tags*/
ul.blog-tags a {
	font-size:13px;
	padding:2px 5px;
	background:#f7f7f7;
	margin:0 2px 5px 0;
	display:inline-block;
	text-shadow:0 1px 0 #fff;
}
ul.blog-tags a:hover,
ul.blog-tags a:hover i {
	color:#72c02c;
	text-decoration:none;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
ul.blog-tags a i {
	color:#777;
}
.blog ul.blog-tags {
	border-bottom:solid 1px #eee;
	padding-bottom:4px !important;
}
.blog ul.blog-tags a {
	font-size:10px;
	display:inline;
	padding:2px 3px;
	margin-right:2px;
	background:#f4f4f4;
}